<div class="disease">
  <div>
    <nz-divider
      class="disease__title-cards"
      [nzText]="typeOfDisease"
    ></nz-divider>

    <div class="disease__cards">
      <nz-card
        nzHoverable
        [nzCover]="coverTemplate"
        *ngFor="let disease of diseases"
        (click)="onClickDisease(disease)"
        class="disease__card"
      >
        <nz-card-meta
          class="disease__title-card"
          [nzTitle]="disease"
        ></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img class="disease__image" src="/assets/images/image-not-found.png" />
      </ng-template>
    </div>
  </div>
</div>
