<div class="type-of-disease">
  <nz-divider
    class="type-of-disease__title-cards"
    nzText="Tipos de Enfermedades"
  ></nz-divider>

  <div class="type-of-disease__cards">
    <div
      class="type-of-disease__card"
      *ngFor="let typeOfDisease of typeOfDiseases"
      (click)="onClickTypeOfDisease(typeOfDisease)"
    >
      <nz-card nzHoverable [nzCover]="coverTemplate">
        <nz-card-meta
          class="type-of-disease__title-card"
          [nzTitle]="typeOfDisease"
        ></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img
          class="type-of-disease__image"
          src="/assets/images/image-not-found.png"
        />
      </ng-template>
    </div>
  </div>
</div>
