<div class="plate">
  <nz-divider
    class="plate__title-cards"
    nzText="Platos Recomendados"
  ></nz-divider>

  <div class="plate__cards">
    <div
      class="plate__card"
      *ngFor="let plate of plates"
      (click)="onClickPlateSelection(plate)"
    >
      <nz-card nzHoverable [nzCover]="coverTemplate">
        <nz-card-meta
          class="plate__title-card"
          [nzTitle]="plate.title"
          [nzDescription]="plate.instructions"
        ></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img class="plate__image" src="/assets/images/image-not-found.png" />
      </ng-template>
    </div>
  </div>
</div>
